<h4>Browse the Artists</h4>
<h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to 'artist.name', artist %></li>
  <% end %>
</ul></h1>
<button class="silver btn-small"><%= link_to 'Create a new Artist', new_artist_path %></button>
