<h2>Browse Artists</h2>
<h3>
<ul>
  <% @artists.each do |artist| %>
    <li> <%= link_to artist.name, [artist.chart, artist] %></li>
  <% end %>
</ul></h3>
<h3><%= link_to 'Create a new Artist', new_chart_artist_path(@chart) %></h3>
