<h1><%= @artist.name %></h1>
<div class= right>
<button class="silver btn-small"><%= link_to 'Edit', edit_chart_artist_path([@chart, @artist])%></button>
<button class="silver btn-small"><%= link_to 'Delete', [@chart, @artist], method: :delete%></button>
<button class="silver btn-small"><%= link_to 'Back', chart_artists_path(@chart)%></button> </div>
