<h4>Billboard Top Charts</h4>
<h3><ul>
  <% @charts.each do |chart| %>
    <li class="center black-text"><%= link_to "#{chart.name}", chart %></li>
		<% end %>
</ul></h3>
<button class="silver btn-small"><%= link_to 'Create a new Chart', new_chart_path %> </button>

<div class="center">
<iframe src="https://open.spotify.com/embed?uri=spotify%3Aalbum%3A2rp5riHULWgrXPsDtsp1ir" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>