<nav class="black accent-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Top Charts</a>
    <a
      href="#"
      data-activates="mobile"
      class="button-collapse"
    >
      <i class="material-icons">Top Charts</i>
    </a>

    <p class = right>
      <h4 class= "right">
      <i class="material-icons home right">
      <%= link_to 'Home', root_path %>
      </i></h4>
    </p>
    <audio src="audio/creep.mp3" autoplay once/>
      <div class="center">
    <%= image_tag("Billboard-white.png", :alt => "Billboard logo") %>
    </div>
  </div>
</nav>
